{% extends "viz/layout.html" %}

{% load static %}

{% block header %}
<script type ="text/javascript" src="{% static 'viz/viz_lifestyle.js' %}"></script>
<script type ="text/javascript" src="{% static 'viz/viz_contextgraph.js' %}"></script>
{% endblock %}

{% block style %}
<style>
#calendar{
	display: flex;
	width: 800px;
	margin: 0 0 0 8rem;
}
.selbtn{
	margin:0.1rem 0;
}
#consoleContents label{
	margin-left:0.4rem;
	margin-right:0.4rem;
	display:inline-block;
	width:4.7rem;
}

rect.day{/*캘린더 조절가능*/
}

#diaryInfo{
	height:10%;
}

#diaryInfoTitle>h2{
	text-align:left;
	border-bottom-style:solid;
	border-bottom-color:black;
}
#diaryInfoDetail{
	text-align:left;
	font-size:0.85rem;
	margin-bottom:1rem;
}
.tag_lifestyle{
	background-color: indigo;
	color:white;
	/*border:1px solid black;*/
	font-size:0.8rem;
	margin-right:3px;
	border-radius: 5px;
}
.lifestyleDesc{
	/* font-size: 0.8rem;
	padding-top:0.15rem;
	padding-right:0.15rem; */
}
.day_null{
	fill:#ffffff;
}
.day{
	fill:#eaeaea;
}
.day.focus {
	stroke: blue;
	stroke-width: 2px;
}
.day.hover {
	stroke: #6d6E70;
	stroke-width: 2px;
}
.input[type="checkbox"]{
	background:#fa3062;
}
a {
	cursor:pointer;
}
.monthbar{
	margin: 0 0.7rem 0 0.5rem;
}
.monthlabel,.yearlabel{
	font-size: 0.8rem;
	fill: black;
}
#filtericon{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 80%;
	border: 2px solid #425272;
	border-radius: 5px;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2)
}
#consoleDesc span{
	font-weight: 500;
}
#info_main{
	position: absolute;
	top: 40%;
	left: 10%;
	width: 50%;
}
#info_main div{
	font-size: 1.2rem;
	font-weight: inherit;
	line-height: 1.7;
	text-align: justify;
	word-break: keep-all;
	color: white;
}
#info_main > div.title{
	font-size: 1.4rem;
	font-weight: 500;
	color: white;
	margin-bottom: 1.2rem;
}
</style>
{% endblock %}

{% block content %}
<div class="body padding-bottom-none height-full">
	<div id="conWrap">
		<div class="vizWrap">
			<div id="infobtn">Info</div>
			<div id="infoBox">
				<div id="info_main">
					<div class="title">생활 시각화는 <br/>생활(Lifestyle) 데이터를 효과적으로 들여다볼 수 있게끔 디자인 된 것입니다.</div>
					<div>세로 기준 연도, 가로 기준 월 형태의 8년치 달력을 매개로 개별 일자의 박스를 클릭할 경우 해당 일자의 일기 원문과 번역문이 오른쪽 빈 공간에 출력됩니다.</div>
					<div>왼쪽 상단의 정사각형 매뉴얼 박스를 클릭할 경우 80여가지의 생활 유형 가운데 원하는 맥락의 생활 유형을 선택해서 그에 대한 기록을 살펴볼 수 있습니다.</div>
				</div>
			</div>
			<div id="calendar"></div>
			<div id="neo-box">
				<div id="neo-box-head">
					<div id="neo-box-head-str"></div>
				</div>
				<div id="neo-box-content">
					<svg id="graph_context" width="100%" height="100%"></svg>
				</div>
				<i class="fas fa-times" id="close-neo"></i>
			</div>
		</div>

		<div id="diaryWrap">
			<div id="entrycount"></div>
			<div id="entrylist"></div>
		</div>

		<div id="consoleIcon">
			<img id="filtericon" src="{% static 'viz/icon/lifestyle.png' %}" alt="생활 유형 보기">
		</div>

		<div id="consoleContents">
			<div id="consoleDesc"></div>
			<div id="lifeList1">
				<p>1인칭</p>
				{% for lifestyle in lifestylelist %}
					{% if lifestyle.viewpoint == "1인칭" %}
						<input class="selbtn" type="checkbox" name="lifestyleType" id="{{lifestyle.id}}" value="{{lifestyle.korname}}"><label>{{lifestyle.name}}</label>
					{% endif%}
				{% endfor %}
			</div>
			<div id="lifeList2">
				<p>3인칭</p>
				{% for lifestyle in lifestylelist %}
					{% if lifestyle.viewpoint == "3인칭" %}
						<input class="selbtn" type="checkbox" name="lifestyleType" id="{{lifestyle.id}}" value="{{lifestyle.korname}}"><label>{{lifestyle.name}}</label>
					{% endif%}
				{% endfor %}
			</div>

			<input id="selbtn2" type="button" onclick="initcolor();" value="RESET">
		</div>

		<div id="consolestatus"></div>
	</div>
</div>
{% endblock %}


		{% block script %}
		<script>
	toggleGuide();

				var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
				var height = window.innerHeight/2;

				console.log(width, height)

				function initcolor(){
					$("input").prop("checked",false)
					$(".selected").attr("class","day")
					//$("#consoleDesc").css("display", "none")
				};

				d3.csv("{% static 'viz/ddata.csv' %}", function(response) {
					drawCalendar(response);
				});

				$(document).ready(function(){
					$("input.selbtn").on("click", function(){
						var params = $(this).val()
						var selstate = $('input:checkbox[name=lifestyleType]:checked').length;
						if (selstate>3){
							$(this).prop('checked',false)
						} else {
							$(":checkbox:checked").addClass('toggledbtn');
							selbtnparse_lifestyle(params)
						}
					})
				});

				function selbtnparse_lifestyle(d){
					console.log(d)
					$.ajax({
						type: "GET",
						url: "{% url 'viz:type_lifestyle' %}",
						data: {
							params: d,
						},
						success: function(result){
							selCalendarStyle(result);
							createLifestyleInfo(result);

						}
					})
				};

				function selCalendarStyle(d){
					console.log(d)
					var diaryInfo = d.diaryInfo;
					var lifestyleInfo = d.lifestyleInfo;
					var lifestyleID = lifestyleInfo[0].id;
					var colors = lifestyleInfo[0].colors;
					var selstate = $('input:checkbox[name=lifestyleType]:checked').length;
					var checkbox = $('input:checkbox[id='+lifestyleID+']');
					console.log(checkbox.is(':checked'))
					console.log("selstate: "+selstate)

					var sheet = document.createElement("style");
					sheet.innerHTML = ".newclass_"+lifestyleID+"{fill:"+colors+";}";
					document.body.appendChild(sheet);

					var rect = d3.selectAll("rect.day")

					rect.filter(function(d){
						return diaryInfo.indexOf(d) >-1
					})
						.classed("selected", function(d){
							// var classstr= $(this).attr('class')
							// var reg = /selected/.test(classstr)
							// if(reg){
							// 	$(this).toggleClass("overclass")
							// }
							$(this).toggleClass("newclass_"+lifestyleID)
							return true
						})
				};

				// function selCalendarStyle(d){
				// 	console.log(d)
				// 	var diaryInfo = d.diaryInfo;
				// 	var lifestyleInfo = d.lifestyleInfo;
				// 	var colors = lifestyleInfo[0].colors;
				// 	var selstate = $('input:checkbox[name=lifestyleType]:checked').length;
				// 	var checkbox = $('input:checkbox[name=lifestyleType]');
				// 	console.log(checkbox.is(':checked'))

				// 	console.log("selstate: "+selstate)
				// 	rect.filter(function(d){
				// 		return diaryInfo.indexOf(d) >-1
				// 	})
				// 	.classed("selected", function(d){
				// 		console.log($(this).hasClass('selected'))
				// 		if ($(this).hasClass('selected')){
				// 			$(this).removeAttr("style")
				// 			return false
				// 		} else {
				// 			$(this).css("fill", function(){
				// 				return colors
				// 			})
				// 			return true
				// 		}
				// 	})
				// };


				function createLifestyleInfo(d){
					console.log(d)
					var lifestyleInfo = d.lifestyleInfo;
					d3.select("#consolestatus")
						.attr("class", "lifestyleSelected")
						.text(function(){
							var lifestyleMeta = lifestyleInfo[0];

							return lifestyleMeta.lifestyleName+"("+lifestyleMeta.lifestyleChinname+")"
					})

					d3.select("#consoleDesc")
						.attr("class","lifestyleDesc")
						.html(function(){
							console.log(lifestyleInfo)
							var lifestyleMeta = lifestyleInfo[0];
							var lifestyledesc = lifestyleMeta.lifestyleDescription;
							var lifestyleMetaName = lifestyleMeta.lifestyleName;
							var lifestyleMetaChinName = lifestyleMeta.lifestyleChinname;

							return "<span>"+lifestyleMetaName+"("+lifestyleMetaChinName+") : "+lifestyledesc+"</span>"
						})

					$("#consoleDesc").css("display","block");
				};


				// diary info ajax
				function parse_diaryinfo(d){
					console.log("you click: "+d)
					$.ajax({
						type: "GET",
						url: "{% url 'viz:diaryinfo_lifestyle' %}",
						data: {
							params: d,
						},
						success: function(result){
							console.log(result)
							var entryinfo = result.entryinfo;
							var diaryinfo = result.diaryinfo[0];

							createentrylist(entryinfo,d,diaryinfo);
							$("#entrycount").css("display","block");

							$("#entrylist").css("display","block");
							$(".entrytitle").click(function(){
								$(this).next().toggleClass("showList");
							})

							//context node graph (from neo4j data)
							$("span.context").click(function(){
								var contextid = $(this).attr("id");
								parse_contextnodeinfo(contextid);
								$("#neo-box").css('display','block');
							})
							$("#close-neo").click(function(){
								$("#neo-box").css("display","none");
							})
						}
					})
				};



				// load context node ajax
				function parse_contextnodeinfo(contextid){
					console.log("you click context node: ", contextid)
					$.ajax({
						type: "GET",
						url: "{% url 'viz:neo_context' %}",
						data: {
							params: contextid,
						},
						success: function(result){
							var graph = result;
							deletecontextgraph();
							createcontextnetwork(graph,contextid) // external js file ... viz_contextgraph.js
						}
					})
				}


				// create entry list
				function createentrylist(entryinfo,d,diaryinfo){

					var txtstr_entrytitle = '';
					var txtstr_entrylist = '';
					var entrylen = entryinfo.length;

					var confirmArr = new Array();
					var txtstr_all = '';

					var slavename = diaryinfo.name;

					for (var i in entryinfo){
						var entrymeta = entryinfo[i].entrymeta;
						var entrytext = entryinfo[i].entrytext;

						var txtstr_merge = '';

						txtstr_entrytitle = createentrylist_title(entrymeta)
						txtstr_entrylist = createentrylist_text(entrytext)

						txtstr_merge +='<div class="entryset">'+txtstr_entrytitle+txtstr_entrylist+'</div>'
						txtstr_all += txtstr_merge

						$("#entrycount").html('<p>'+slavename+', '+'일기건수 : '+entrylen+'건</p>')
						$("#entrylist").html(txtstr_all)
					}

				};


				// create entry list title
				function createentrylist_title(entrymeta){

					var diarydict = entrymeta.diarydict;
					var entrydict = entrymeta.entrydict;

					var entryid = entrydict.id;
					var entryname = entrydict.name;

					var diaryid = diarydict.id;
					var diaryname = diarydict.name;
					var year = diarydict.year;
					var month = diarydict.month;
					var date = diarydict.date;
					var y_sc = diarydict.y_sc;
					var m_sc = diarydict.m_sc;
					var d_sc = diarydict.d_sc;
					var intercalary = diarydict.intercalary;
					var lunar = diarydict.lunar;
					var solar = diarydict.solar;

					var txtstr = '';

					txtstr = '<div class="entrytitle">'+entryname+'(양력: '+solar+')'+'</div>';

					return txtstr
				};


				// create entry list text
				function createentrylist_text(entrytext){
					var txtstr = '';
					txtstr = '<div class="entrytextset">';

					var lifestyleinfo = entrytext.lifestyleinfo;
					var kortext = entrytext.kortext;
					var chintext = entrytext.chintext;

					var lifestyletags = '<div class="lifestyletaglist">';
					for (var i in lifestyleinfo){
						var lifestyle_korname = lifestyleinfo[i].korname;
						var lifestyle_description = lifestyleinfo[i].description;

						var tag = '<span class="lifestyletag" title="'+lifestyle_description+'">'+lifestyle_korname+'</span>'
						lifestyletags +=tag
					};
					lifestyletags += '</div>'

					txtstr += lifestyletags+kortext+chintext;
					txtstr += '</div>';
					return txtstr
				};



				// draw calendar
				function drawCalendar(myData){

					var minDate = d3.min(myData, function(d) { return new Date(d.solarYMD); });
					var maxDate = d3.max(myData, function(d) { return new Date(d.solarYMD); });

					var cellMargin = 1;
					var cellSize = 12;

					var day = d3.timeFormat("%w");
					var week = d3.timeFormat("%U");
					var format = d3.timeFormat("%Y-%m-%d");
					var titleFormat = d3.utcFormat("%a, %d-%b");
					var monthName = d3.timeFormat("%B");
					var monthNumber = d3.timeFormat("%m");
					var yearNumber = d3.timeFormat("%Y");
					var years = d3.timeYear.range(d3.timeYear.floor(minDate),maxDate);
					var months = d3.timeMonth.range(d3.timeMonth.floor(minDate), maxDate);

					// console.log(d3.timeMonth.floor(minDate)); //Fri Sep 01 2017 00:00:00
					// console.log(minDate); //Thu Jan 14 2016 00:52:33 GMT+0900
					// console.log(maxDate); //Wed May 30 2018 02:51:45 GMT+0900
					// console.log(months); //[Fri Sep 01 2017 00:00:00, Sun Oct 01 2017 00:00:00, Wed Nov 01 2017 00:00:00]
					// console.log(years);
					// console.log(yearNumber(months[0]))

					// month label
					var svg_monthbar = d3.select("#calendar")
															 .append("svg")
															 .attr("class","monthbar")
															 .attr("width",cellSize);

					svg_monthbar.selectAll(".monthlabel")
											.data([1,2,3,4,5,6,7,8,9,10,11,12]).enter()
											.append("text")
											.attr("class","monthlabel")
											.attr("y", function(d,i){
												var init = 20;
												return (cellSize*7)*(i+1)-20;
											})
											.text(function(d){
												return d;
											});


					// year label
					var svg_year = d3.select("#calendar")
													 .selectAll(".years")
													 .data(years).enter()
													 .append("svg")
													 .attr("class", "years")
													 .attr("width", (cellSize*7)+(cellMargin*8)+10)
													 .attr("height", (cellSize*120));

					svg_year.append("text")
									.attr("class", "yearlabel")
									.attr("x", function(d){
										return ((cellSize*7)+(cellMargin*8))/2
									})
									.attr("y", 25)
									.attr("text-anchor", "middle")
									.text(function(d){
										return yearNumber(d)
									});


					// month svg
					var svg_month = svg_year.selectAll(".months")
														.data(function(d){
															return d3.timeMonths(d, new Date(d.getFullYear(), d.getMonth()+12, 1))
														}).enter()
														.append("svg")
														.attr("class", function(d){
															return "months "+monthName(d)
														})
														.attr("width", (cellSize*7)+(cellMargin*8))
														.attr("height", (cellSize*6)+(cellMargin*(6+1))+20)
														.attr("y", function(d,i){
															return (cellSize*7)*(i+1)-70;
														});


					// day svg
					var svg_day = svg_month.selectAll("rect.day")
										.data(function(d,i){
											return d3.timeDays(d, new Date(d.getFullYear(), d.getMonth()+1, 1));
											}).enter()
										.append("rect")
										.attr("class", function(d){
											if (format(d) <= '1692-02-16' || format(d)>='1699-11-01'){
												return "day_null";
											} else {
												return "day";
											}
										})
										.attr("width", cellSize)
										.attr("height", cellSize)
										.attr("rx", 2)
										.attr("ry", 2)
										.attr("x", function(d){
											return (day(d) * cellSize) + (day(d) * cellMargin) + cellMargin;
										})
										.attr("y", function(d) {
											return ((week(d) - week(new Date(d.getFullYear(),d.getMonth(),1))) * cellSize) +
														((week(d) - week(new Date(d.getFullYear(),d.getMonth(),1))) * cellMargin) +
														cellMargin + 20;
										})
										.classed("clickable", true);

					svg_day.append("title")
								 .text(function(d){return d});


					svg_day.on("mouseover", function(d){
											d3.select(this).classed("hover",true);
									})
								 .on("mouseout", function(d){
											d3.select(this).classed("hover",false);
									})
								 .on("click", function(d){
								 	 if(d<='1692-02-16' || d>='1699-11-01'){
										 return alert('일기가 없습니다. 다른 일기를 선택해주세요.')
									 } else {
										parse_diaryinfo(d);
									 }
									 if(d3.select(this).classed("focus")){
										 d3.select(this).classed("focus",false);
									 } else {
										 d3.select(this).classed("focus",true)
									 }
								 })
								 .datum(format);
				};



		</script>
		{% endblock %}
